name: Keep Streamlit Alive

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch: 

jobs:
  ping_site:
    runs-on: ubuntu-latest
    steps:
      - name: Check website status
        run: |
          curl -s https://rag-based-financial-document-assistant-neae5oyytdnjyrx7casacl.streamlit.app/ > /dev/null
