name: Keep Streamlit Alive

on:
  schedule:
    - cron: "35 3 * * *"
    - cron: "30 8 * * *"
    - cron: "30 11 * * *"
  workflow_dispatch: 

jobs:
  ping_site:
    runs-on: ubuntu-latest
    steps:
      - name: Check website status
        run: |
          curl -I https://rag-based-financial-document-assistant-neae5oyytdnjyrx7casacl.streamlit.app/
